<%= form_with model: address, url: url, method: method, data: { controller: 'location select2', turbo: 'false' }, class: 'form mt-2' do |f| %>

  <% if address.errors.any? %>
    <ul>
      <% address.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="input-group w-100 mb-2">
    <%= f.label :type, class: 'input-group-text '%>
    <div class="form-control">
      <%= f.radio_button :genre, :home, class: 'form-check-input' %>
      <%= f.label :home, class: 'form-check-label me-2' %>
      <%= f.radio_button :genre, :office, class: 'form-check-input' %>
      <%= f.label :office, class: 'form-check-label' %>
    </div>
  </div>

  <div class="form-group w-100 mb-2">
    <%= f.label :region, class: 'form-label'%>
    <%= f.collection_select :region_id, Address::Region.all, :id, :region_name, { prompt: 'Please select region' }, class: 'form-control select2 w-100', data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' } %>
  </div>

  <div class="form-group w-100 mb-2">
    <%= f.label :province, class: 'form-label'%>
    <%= f.collection_select :province_id, [], nil, nil, { prompt: 'Please select province' }, class: 'form-control select2', data: { location_target: 'selectedProvinceId', action: 'change->location#fetchCities' } %>
  </div>

  <div class="form-group w-100 mb-2">
    <%= f.label :city, class: 'form-label'%>
    <%= f.collection_select :city_id, [], nil, nil, { prompt: 'Please select city' }, class: 'form-control select2', data: { location_target: 'selectedCityId', action: 'change->location#fetchBarangays' } %>
  </div>

  <div class="form-group w-100 mb-2">
    <%= f.label :barangay, class: 'form-label'%>
    <%= f.collection_select :barangay_id, [], nil, nil, { prompt: 'Please select barangay' }, class: 'form-control select2', data: { location_target: 'selectedBarangayId' } %>
  </div>

  <div class="form-group w-100 mb-2">
    <%= f.label :street_address, class: 'form-label' %>
    <%= f.text_field :street_address, class: 'form-control', placeholder: '123 St.' %>
  </div>

  <div class="form-group w-100 mb-2">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Set address name' %>
  </div>

  <div class="form-group w-100 mb-2">
    <%= f.label :phone_number, class: 'form-label' %>
    <%= f.text_field :phone_number, class: 'form-control', placeholder: '09#########' %>
  </div>

  <div class="form-group w-100 mb-4">
    <%= f.label :remark, class: 'form-label' %>
    <%= f.text_field :remark, class: 'form-control', placeholder: 'Set remark' %>
  </div>


  <%= f.submit 'Save address', class: 'btn btn-success w-100' %>

<% end %>