<%= render partial: 'client/shared/nav' %>

<div class="container mb-5">
  <%= render partial: 'client/shared/home_carousel' %>

  <h5 class="w-100 border py-2 px-4 mt-2">Announcement: </h5>

  <div id="winners-content" class="mt-2">
    <h4 class="py-2 px-5 border" style="max-width: 300px">Winners Feedback</h4>

    <div class="d-flex flex-row justify-content-between w-100" style="min-height: 300px ">
      <% 3.times do |i| %>
        <%= render partial: 'client/shared/card', locals: {body_text: "Image #{i}"} %>
      <% end %>

      <%= render partial: 'client/shared/card', locals: {body_text: "More ..."} %>
    </div>
  </div>

  <div id="coming-soon" class="mt-2">
    <h4 class="py-2 px-5 border" style="max-width: 300px">Coming soon</h4>

    <div class="d-flex flex-row justify-content-between w-100" style="min-height: 300px ">
      <% 3.times do |i| %>
        <%= render partial: 'client/shared/card', locals: {body_text: "Image #{i}"} %>
      <% end %>

      <%= render partial: 'client/shared/card', locals: {body_text: "More ..."} %>
    </div>
  </div>

</div>

<%= render partial: 'client/shared/footer' %>