<%= render partial: 'client/shared/nav' %>

<div class="container mb-5">
  <%= render partial: 'client/shared/home_carousel' %>

  <h5 class="w-100 border py-2 px-4 mt-2">Announcement: </h5>

  <div id="winners-content" class="mt-2">
    <h4 class="py-2 px-5 border" style="max-width: 300px">Winners Feedback</h4>

    <div class="row row-cols-* w-100" style="min-height: 300px ">
      <% @winners_feedback.each do |winner_feedback| %>
        <%= render partial: 'client/shared/feedback_card', locals: { feedback: winner_feedback, body_text: nil } %>
      <% end %>


        <%= render partial: 'client/shared/feedback_card', locals: { feedback: nil, body_text: "More ..." } %>

    </div>
  </div>

  <div id="coming-soon" class="mt-2">
    <h4 class="py-2 px-5 border" style="max-width: 300px">Coming soon</h4>

    <div class="row row-cols-*" style="min-height: 300px">
      <% @active_lotteries.each do |lottery| %>
          <%= render partial: 'client/shared/lottery_card', locals: { lottery: lottery, body_text: nil } %>
      <% end %>

      <%= render partial: 'client/shared/lottery_card', locals: { lottery: nil, body_text: "More ..." } %>
    </div>
  </div>

</div>

<%= render partial: 'client/shared/footer' %>