<%= form_with model: banner, url: url, method: method, data: { controller: '', turbo: 'false' }, class: 'form mt-2' do |f| %>

  <% if banner.errors.any? %>
    <ul>
      <% banner.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group mb-2">
    <%= f.label :preview, class: "form-label" %>
    <%= f.file_field :preview, class: "form-control" %>
  </div>

  <div class="input-group w-100 mb-2">
    <%= f.label :type, class: 'input-group-text '%>
    <div class="form-control">
      <%= f.radio_button :status, :inactive, class: 'form-check-input' %>
      <%= f.label :inactive, class: 'form-check-label me-2' %>
      <%= f.radio_button :status, :active, class: 'form-check-input' %>
      <%= f.label :active, class: 'form-check-label' %>
    </div>
  </div>

  <div class="form-group w-100 mb-2">
    <%= f.label :online_at %>
    <%= f.date_field :online_at, { value: banner[:online_at], class: "form-control w-100" } %>
  </div>


  <div class="form-group w-100 mb-2">
    <%= f.label :offline_at %>
    <%= f.date_field :offline_at, { value: banner[:offline_at], class: "form-control w-100" } %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-success w-100' %>
<% end %>