<%= render partial: 'client/shared/nav' %>

<div class="container mb-5">
  <%= render partial: 'client/shared/home_carousel' %>

  <%= link_to 'Button', '', class: 'btn btn-primary w-100 mt-2'%>

  <div id="filter" class="d-flex flex-row align-items-center mt-2">
    <%= form_tag lottery_index_path, method: 'get', data: { turbo: false } do %>
    <%= submit_tag 'All', class: 'btn btn-sm border rounded-circle me-2'%>

      <% @categories.each do |category| %>
        <%= submit_tag category.name, class: 'btn btn-sm border rounded p-1 me-2'%>
      <% end %>
    <% end %>
    </div>

  <section class="d-flex flex-column justify-content-center align-items-center w-100">
    <div class="row row-cols-2 w-100 mt-2">
      <% @items.each do |item| %>
        <div class="col w-50 mb-4">
          <%= link_to lottery_path(item) do %>
            <%= image_tag item.image.url, style: 'object-fit: cover;', class: 'w-100 h-100' if item.image.present? %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <div class="d-flex justify-content-end mb-5">
    <%= link_to 'More ...', '', class: 'nav-link mb-5' if @items.count == 4%>
  </div>
  
</div>

<%= render partial: 'client/shared/footer' %>