<%= render partial: 'client/shared/nav' %>

<div class="container d-flex flex-column justify-content-center mb-5" style="max-width: 900px">
  <div class="card w-100 mt-2 mb-2">
    <%= image_tag @item.image.url, class: 'card-img-top w-100' %>
    <div class="card-body">
      <h4><%= @item.name %></h4>
      <div class="progress mt-2">
        <div class="progress-bar" role="progressbar" style="width: <%= @progress %>%;" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100"><%= @progress %>%</div>
      </div>
    </div>
  </div>

  <%= form_with url: submit_tickets_path, method: :post, class: 'mb-2' do |f| %>
    <%= f.hidden_field :item, value: @item.id %>
    <div class="input-group mb-2" data-controller="ticket">
      <button class="btn btn-outline-secondary" type="button" data-action="click->ticket#decrease">
        <i class="fa-solid fa-minus"></i>
      </button>
      <%= f.number_field :tickets, class: 'form-control text-center no-arrows', data: {ticket_target: "tickets"}, value: 1 %>
      <button class="btn btn-outline-secondary" type="button" data-action="click->ticket#increase">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-warning w-100'%>
  <% end %>

  <% if current_client_user && @user_tickets.present? %>
    <div class="card w-100">
      <span class="card-header">Serial Number</span>
      <div class="d-flex flex-column w-100">
        <% @user_tickets.each_with_index do |ticket, index| %>
          <span class="border-bottom w-100 py-2 px-4 fw-semibold"><%= ticket.serial_number %></span>  
        <% end %> 
      </div>
      
    </div>
  <% end %>

</div>

<%= render partial: 'client/shared/footer' %>