<%= render partial: 'client/shared/nav' %>

<div class="container mt-4 mb-5">
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 500px;">
    <span class="fs-2 fw-semibold">Invite other people!</span>
    <div class="w-50 border-bottom mb-4"></div>
    <div class="mb-4" style="width: 200px; height: 200px">
      <%= raw @svg.html_safe %>
    </div>

    <div class="mb-2" style="width: 500px;">
      <span class="form-control text-center">
        Share to <%= @next_member_level.required_members - (current_client_user.children_members || 0) %> friends and get <%= @next_member_level.coins %> coins
      </span>
    </div>

    <div class="input-group" style="width: 500px;" data-controller="clipboard">
      <span class="form-control" data-clipboard-target="link">client.com:3000/users/sign_up?promoter=<%= current_client_user.email %></span>
      <button class="btn btn-outline-secondary" data-action="click->clipboard#copy"><i class="fa-solid fa-copy"></i></button>
    </div>
    
  </div>
</div>

<%= render partial: 'client/shared/footer' %>