<%= render partial: 'client/shared/nav' %>
<%= render partial: 'client/me/shared/profile' %>
<%= render partial: 'client/me/shared/profile_nav' %>

<div class="container">
  <% if @lotteries.present? %>
    <% @lotteries.each do |lottery| %>
      <%= render partial: 'lottery_card', locals: { lottery: lottery } %>
    <% end %>
  <% else %>
    <%= render partial: 'client/shared/empty_list' %>
  <% end %>

</div>

<%= render partial: 'client/shared/footer' %>
