<nav class="navbar fixed-bottom border-top">
  <div class="container d-flex flex-row" style="max-width: 1000px">

    <%= link_to "Share", "", class: "nav-link" %>

    <%= link_to "Invite", "", class: "nav-link" %>

    <%= link_to "Lottery", "", class: "nav-link" %>

    <%= link_to "Shop", "", class: "nav-link" %>

    <%= link_to "Me", "", class: "nav-link" %>
  </div>
</nav>