<%= form_with model: category, url: url, method: method, data: { controller: '', turbo: 'false' }, class: 'form mt-2' do |f| %>

  <% if category.errors.any? %>
    <ul>
      <% category.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group w-100 mb-2">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Set category name' %>
  </div>

  <%= f.submit 'Save category', class: 'btn btn-success w-100' %>
<% end %>