<div class="card">
  <div class="card-body d-flex flex-column">
    <span>Serial Number: <%= order.serial_number %></span>
    <span>Amount: <%= order.amount %></span>
    <span>Coins: <%= order.coin %></span>
    <span>Created at: <%= order.created_at %></span>
    <span>State: <%= order.state.humanize %></span>
  </div>
</div>