<%= render partial: 'client/shared/nav' %>
<%= render partial: 'client/me/shared/profile' %>
<%= render partial: 'client/me/shared/profile_nav' %>

<div class="container">
  <% if @orders.present? %>
    <% @orders.each do |order| %>
      <%= render partial: 'order_card', locals: { order: order } %>
    <% end %>
    <%= paginate @orders, views_prefix: 'client/me' %>
  <% else %>
    <%= render partial: 'client/shared/empty_list' %>
  <% end %>

</div>

<%= render partial: 'client/shared/footer' %>
