<%= render partial: 'client/shared/nav' %>
<%= render partial: 'client/me/shared/profile' %>

<div class="container d-flex flex-row mb-2">
  <%= link_to 'Order History', order_history_index_path, class: "btn btn-secondary me-2 #{"active" if controller_name == 'client/me' || 'client/me/orders'}", style: 'width: 200px' %>
  <%= link_to 'Lottery History', '', class: "btn btn-secondary me-2 #{"active" if controller_name == 'client/me/lotteries'}", style: 'width: 200px' %>
  <%= link_to 'Winning History', '', class: "btn btn-secondary me-2 #{"active" if controller_name == 'client/me/winnings'}", style: 'width: 200px' %>
  <%= link_to 'Invitation History', '', class: "btn btn-secondary #{"active" if controller_name == 'client/me/invites'}", style: 'width: 200px' %>
</div>

<div class="container">
  <% if @orders.present? %>
    <% @orders.each do |order| %>
      <%= render partial: 'client/me/orders/order_card', locals: { order: order } %>
    <% end %>
  <% else %>
    <%= render partial: 'client/shared/empty_list' %>
  <% end %>

</div>

<%= render partial: 'client/shared/footer' %>
