<div class="h-100 border-end" style="min-width: 251px">
  <div class="d-flex flex-column">
    <div class="border-bottom ps-4 d-flex align-items-center" style="min-height: 40px">
      <%= link_to 'Homepage', admin_root_path, class: "nav-link" %>
    </div>

    <div class="border-bottom ps-4 d-flex align-items-center" style="min-height: 40px">
      <a class="nav-link" data-bs-toggle="collapse" href="#member-management" role="button">Member Management
        <span class="ml-2"><i class="fa-solid fa-chevron-down"></i></span></a>
    </div>

    <div class="collapse" id="member-management">
      <div class="border-bottom ps-4 d-flex align-items-center" style="min-height: 40px">
        <%= link_to '- User List', "", class: "nav-link ps-4" %>
      </div>

      <div class="border-bottom ps-4 d-flex align-items-center" style="min-height: 40px">
        <%= link_to '- Item List', items_path, class: "nav-link ps-4" %>
      </div>
    </div>

    <div class="border-bottom ps-4 d-flex align-items-center" style="min-height: 40px">
      <a class="nav-link" data-bs-toggle="collapse" href="#ex2-management" role="button">Example 2 Management
        <span class="ml-2"><i class="fa-solid fa-chevron-down"></i></span></a>
    </div>

    <div class="collapse" id="ex2-management">
      <div class="border-bottom ps-4 d-flex align-items-center" style="min-height: 40px">
        <%= link_to '- Categories', categories_path, class: "nav-link ps-4" %>
      </div>

      <div class="border-bottom ps-4 d-flex align-items-center" style="min-height: 40px">
        <%= link_to '- Example 2', "", class: "nav-link ps-4" %>
      </div>
    </div>

  </div>
</div>