<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>

<% flash.each do |key, message| %>
  <p class="notice"><%= message %></p>
<% end %>


<%= yield %>
</body>
<script src="https://kit.fontawesome.com/2ced43b25f.js" crossorigin="anonymous"></script>
</html>
